<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card text-bg-dark mt-5">
                <h4 class="card-header">Register</h4>
                <div class="card-body">
                    <form (ngSubmit)="register()">
                        <div class="mb-3">
                            <label for="usernameInput" class="form-label" >Username</label>
                            <input type="text" id="usernameInput" class="form-control" name="username" placeholder="Username" [(ngModel)]="username" required #usernameField="ngModel">
                            <div *ngIf="usernameField.errors?.['required'] && usernameField.touched">Username is required!</div>
                        </div>

                        <div class="mb-3">
                            <label for="passwordInput" class="form-label">Password</label>
                            <input type="password" id="passwordInput" class="form-control" name="password" placeholder="Password" [(ngModel)]="password" required #passwordField="ngModel">
                            <div *ngIf="passwordField.errors?.['required'] && passwordField.touched">Password is required!</div>
                        </div>

                        <button type="submit" class="btn btn-danger">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>